*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  position: relative;
}

.dealBtn {
  position: relative;
  padding: .75em 2.5em;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  background-color: #00a2ff;
  transition: background-color 200ms, transform 100ms;
  z-index: 5;
  width: 170px;
}

.dealBtnBack {
  position: absolute;
  width: 170px;
  height: 10px;
  left: 50%;
  transform: translate(-50%, -5px);
  background-color: #aaa;
  border-radius: 5px;
  z-index: 4;
}

.dealBtn:hover,
.dealBtn:focus {
  cursor: pointer;
  background-color: rgb(55, 182, 255);
}

.dealBtn:active {
  transform: translateY(5px);
}

.resetBtn {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: .25em .5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.resetGameOver {
  color: #fff;
  font-weight: 600;
  background-color: rgb(0, 162, 255);
}

.cards-container {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding: 0 2em;
  perspective: 400px;
}

.card {
  position: relative;
  height: 200px;
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex: 0 0 130px;
  margin: .5em;
  transition: transform 200ms ease-in-out;
  transform-style: preserve-3d;
  /* transform-origin: bottom; */
}

.cardFront, 
.cardBack {
  backface-visibility: hidden;
}

.cardFront {
  display: grid;
  justify-items: start;
  font-size: 1.5em;
  font-weight: 600;
  padding: .5em;
  border: 3px solid #000;
  border-radius: 5px;
}

.cardBack {
  position:absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: inset 0 0 0 10px #fff;
  transform: rotateY(180deg);
}

/* .card:nth-child(even) {
  border-color: red;
  color: red;
} */


.card.noDeal {
  transform: rotateY(.5turn);
}

.cardInner {
  display: grid;
}

.cardBottom {
  transform: rotateZ(180deg);
  justify-self: end;
}

.card.showFront {
  transform: rotateY(0turn);
}
.card.showBack {
  transform: rotateY(.5turn);
}

.gameOver {
  position: absolute;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  display: grid;
  justify-items: center;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: #eee;
  padding: .5em 1em;
  border: 8px solid rgb(158, 107, 107);
  border-radius: 10px;
  box-shadow: 
    0 0 0 8px #ccc, 
    0 0 0 16px #aaa,
    0 0 0 24px #666,
    0 0 0 32px #222;
}

.gameOver .startOver {
  font-size: .65em;
  color: #00a2ff;
  cursor: pointer;
  position: relative;
}

.startOver::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 100%;
  left: 0;
  transform: translateX(-10%);
  background: #00a2ff;
  opacity: 0;
  transition: opacity 200ms, transform 200ms;
}

.startOver:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.suitSvg {
  width: 20px;
}

.card1 {
  transition-delay: 0ms;
}
.card2 {
  transition-delay: 75ms;
}
.card3 {
  transition-delay: 150ms;
}
.card4 {
  transition-delay: 225ms;
} 